.container {
  padding: 0 2rem;
}

.main {
  display: grid;
  place-items: center;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
}

.information {
  margin-top: 1rem;
}

.card:hover {
  transform: scale(1.02);
}
